<form class="login-form" (submit)="login(email.value, password.value, $event)">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <input type="email" class="login-username" autofocus="true" required="true" placeholder="Email" #email />
  <input type="password" class="login-password" required="true" placeholder="Password" #password />
  <input type="submit" name="Login" value="Login" class="login-submit" />

  <p class="login-registro">
    ¿Todavía no estás registrado? <a (click)="goToRegister()">Regístrate</a>
  </p>
</form>

<div class="buttons-container">
  <!-- Botones de llenado de campos -->
  <button (click)="fillFields('abril@abril.com', '123456')" class="fill-button">Usuario Abril</button>
  <button (click)="fillFields('agustin@agustin.com', '123456')" class="fill-button">Usuario Agustin</button>
  <button (click)="fillFields('leandro@leandro.com', '123456')" class="fill-button">Usuario Leandro</button>
</div>

<div class="underlay-photo"></div>
<div class="underlay-black"></div>
