<h1 class="titulo">¿Quién soy?</h1>
<div class="container">
  <input type="radio" name="nav" id="first" checked/>
  <input type="radio" name="nav" id="second" />
  <input type="radio" name="nav" id="third" />
  
  <label for="first" class="first"></label>

 
  <div class="one slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> Mi juego se trata de:. <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="assets/fondo.jpg" width="210" height="200" />
    <h2>Abril Uberti</h2>
    <h6>Tengo 20 años y soy programadora</h6>
  </div>
  
 
  
</div>